:host {
  .comment-create-container,
  .comments-container {
    max-width: 600px;
    margin: 0 auto 40px auto;
  }

  .comment {
    border-bottom: 1px solid #cecece;
    header {
      h1 {
        font-size: 1em;
      }
    }
    .body {
      white-space: pre-wrap;
    }
  }

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px solid #ababab;
    border-left: 3px solid #ababab;
    border-radius: 3px;
    line-height: 15px;
    padding: 8px 5px;
    outline: none !important;
  }

  .ng-valid[required],
  .ng-valid.required {
    border-left: 3px solid #42a948;
  }

  .ng-invalid:not(form):not(.ng-untouched):not(:focus) {
    border-left: 3px solid #a94442;
  }

  .form-flex {
      display: flex;
      textarea {
          order: 0;
          margin-bottom: 0;
      }
      button[type=submit] {
          order: 1;
          margin-left: 10px;
      }
  }
}
