html{
    background: #FFF;
}
body {
    padding: 0;
    margin: 0;
    color: #494c4e;
    font-family: 'Livvic', sans-serif;
    h1, h2, h3, h4, h5 {
        color: #494c4e;
    }
    a {
        color: #B86173;
        &:visited {
            color: #A93F55;
        }
    }
    h1 {
        font-size: 1.5em;
        padding: 0;
    }
    h3 {
        font-size: 0.8em;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    p {
        font-weight: 300;
        line-height: 1.7em;
    }
    .skeleton {
        background-size: 800px 104px;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: shimmer;
        animation-timing-function: linear;
        background-image: linear-gradient(90deg, #eeeeee 8%, #dedede 18%, #eeeeee 33%);
    }
    div.body {
        img,
        p img {
            max-width: 100%;
        }
    }
    .logo {
        width: 0;
        height: 0;
        position: relative;
        float: right;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-bottom: 35px solid #494c4e;
        cursor: pointer;
        &,
        &:before,
        &:after {
            transition: all 0.3s ease-in-out;
        }
        &:before {
            content: ' ';
            width: 0;
            height: 0;
            position: absolute;
            top: 2px;
            left: -21px;
            border-left: 21px solid transparent;
            border-right: 21px solid transparent;
            border-bottom: 32px solid white;
        }
        &:after {
            content: 'B';
            position: absolute;
            top: 0;
            left: -5px;
            width: 10px;
            line-height: 45px;
            color: #494c4e;
        }
        &:hover {
            transform: rotate(-90deg);
            &:after {
                color: transparent;
            }
            &:before {
                left: -23px;
                border-bottom-width: 35px;
                border-left-width: 23px;
                border-right-width: 23px;
            }
        }
    }
    article .description p {
        white-space: pre-wrap;
        margin-top: 0;
    }
    article code {
        font-size: 13px;
    }
}
@keyframes shimmer{0%{background-position:-468px 0}to{background-position:468px 0}}