<header style="text-align:center">
  <h1>
    Welcome!
  </h1>
</header>
<ng-container *ngIf="blogPosts.length && !loadingError; else emptyState">
  <article *ngFor="let blogPost of blogPosts">
    <a [routerLink]="['/blog', blogPost.sys.id]">
      <img [src]="blogPost.fields.image.fields.file.url + '?fm=jpg&fl=progressive&fit=fill&w=400&h=250'" />
    </a>
    <h3>{{ blogPost.sys.createdAt | date:'medium' }}</h3>
    <h2><a [routerLink]="['/blog', blogPost.fields.slug]">{{ blogPost.fields.title }}</a></h2>
    <div class="description" Markdown>{{ blogPost.fields.description }}</div>
  </article>
</ng-container>
<ng-template #emptyState>
  <article *ngFor="let number of [0,1,2]">
    <div class="image-skeleton"><div class="img skeleton"></div></div>
    <div class="text-h3-skeleton skeleton"></div>
    <div class="text-h2-skeleton skeleton"></div>
    <div class="skeleton-description">
      <div class="skeleton"></div>
      <div class="skeleton"></div>
      <div class="skeleton"></div>
      <div class="skeleton"></div>
      <div class="skeleton"></div>
      <div class="skeleton"></div>
    </div>
  </article>
</ng-template>
<ng-container *ngIf="loadingError">
  <div style="text-align: center"><h2>Oh snap!</h2>
  <h3>Something went wrong</h3></div>
</ng-container>